---
permalink: /humans.txt
eleventyExcludeFromCollections: true
layout: null
date: Last Modified
---

/* WHO */

  Christopher Bauer
  Website: christopherbauer.xyz

/* THANKS */

  Eleventy Creator: Zachleat
  Twitter: @zachleat
  Theme Creator Adam DJ Brett
  Website: https://www.adamdjbrett.com/

/* Credits */

  Static Site Generator: Eleventy
  Website: https://11ty.dev

/* SITE */

  Last update: {{ page.date }}
  Language: English
  Generator: Eleventy
  Theme: Front Cover  Theme
  Fonts: Font-Awesome
  Doctype: HTML5
  IDE: Neovim
