---
layout: base.njk
---
{% include "partials/nav.njk" %}
<main id="skip">
<header class="container">
<hgroup>
<h1><a href="{{page.url}}">{{title or metadata.title}}</a></h1>
<h2><em>{{description or metadata.description}}</em></h2>
</hgroup>
</header>
<div class="container snls snts">
<heading-anchors>
{{ content | safe }}
</heading-anchors>
{% include "partials/pagination.njk" %}
</div>
</main>
